<form action="https://getform.io/f/42eb3501-11fc-4404-93af-8296f91a6fc8" method="POST">
   <p>Thanks for reaching out! Please let me know your thoughts on whatever, and I'll get back to you as soon as possible. :) </p>
   <label for="name">Your Name</label>
   <input type="text" name="name" placeholder="Jane Doe">
   <br/>
   <label for="email">E-mail</label>
   <input type="email" name="email" placeholder="your@email.com">
   <br/>
   <label for="message">Your message</label>
   <input type="text" name="message">
   <br/>
   <!-- checkbox handle -->
   <!-- <input type="checkbox" name="subscribe" value="yes" checked>
   <input type="hidden" name="subscribe" value="no"> -->
   <!-- radio button handle -->
   <!-- <input type="radio" name="gender" value="male" checked>
   <input type="radio" name="gender" value="female">
   <input type="radio" name="gender" value="other"> -->
   <!-- select field handle -->
   <!-- <select name="work-experience">
      <option value="one-year">0-1 years</option>
      <option value="one-five-years">1-5 years</option>
      <option value="five-plus-years">5+ years</option>
   </select> -->
   <button type="submit">Send</button>
</form>