<div class="about_box">
    <div class="box_inner">
        <div class="box_content">
            <div class="media">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 center">
                        <div class="image">
                            <%= image_tag "https://chrsmmns.s3.us-east-2.amazonaws.com/devsite/chris.jfif" %>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <div class="media-body">
                            <div class="personal_text">
                                <h6>Hey there, I'm</h6>
                                <h2>Chris Simmons</h2>
                                <h4>Software Engineer, Educator, Musician</h4>
                                <p>
                                    I'm an educator and software engineer with a diverse background that includes music, education, and web & mobile development. I'm most interested in software craftsmanship, efficient systems design, clean code, non-profit and open source software, and high-quality applications that are easily maintainable.
                                </p>
                                <ul class="list basic_info">
                                    <li>
                                        <a href="https://github.com/chrsmmns">
                                            <i class="fa-solid fa-code-compare"></i>Personal GitHub
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/cjsim89" target="_blank"><i class="fa-solid fa-chalkboard-user"></i>Teaching GitHub</a>
                                    </li>
                                    <li>
                                        <a href="<%= projects_path %>">
                                            <i class="fa-solid fa-list-check"></i>My Projects
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://linkedin.com/in/cjsimmons89" target="_blank">
                                            <i class="fa-brands fa-linkedin"></i>LinkedIn</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>