<div class="about_box">
    <div class="box_inner">
        <div class="box_content">
            <div class="media">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 center">
                        <div class="image">
                            <%= image_tag "https://chrsmmns.s3.us-east-2.amazonaws.com/devsite/chris.jfif" %>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <div class="media-body">
                            <div class="personal_text">
                                <h6>Hey there, I'm</h6>
                                <h2>Chris Simmons</h2>
                                <h4>Software Engineer, Educator, Musician</h4>
                                <p>
                                    Teacher and Software Engineer with a diverse background including music, education, and web & mobile development. Passionate about software craftsmanship, efficient systems design, clean code, non-profit and open source software, and high-quality applications that are easily maintainable.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>