<!-- footer area -->
<div class="container-fluid bg-dark footer_outer">
    <div class="container footer_inner">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <p>&copy; <%= Date.today.year %> <%= link_to "Chrsmmns.com", root_path %> <br/>All Rights Reserved</p>

            </div>
            <div class="col-sm-12 col-md-3">
                <div class="footer_nav">
                    <p><%= link_to "Home", root_path %></p>
                </div>
            </div>
        </div>
    </div>
</div>
