<h1 class="pageTitle">Contact me</h1>

<div class="about_box">
   <div class="box_inner">
      <div class="box_content">
         <p>You can <strong>email</strong> me: <code>chrsmmns</code> [AT] <code>gmail</code> [dot] <code>com</code>, or 
         message me on <strong><a href="https://www.linkedin.com/in/cjsimmons89/" target="_blank">LinkedIn</a></strong>.</p>

         <p>Recently been trying out <strong><a href="https://bsky.app/profile/chrsmmns.bsky.social" target="_blank">Bluesky</a></strong>.</p>
      </div>
   </div>
</div>