<%= render "shared/aboutme" %>

<div class="about_box">
    <div class="box_content">

        <div class="col-xs-12">
            <h2>My Current Work</h2>
            <div class="job">
                <h4>
                    Instructor, Back-End Engineering<br/>
                    <small><a href="https://turing.edu" target="_blank">Turing School of Software and Design</a></small>
                </h4>
                <ul>
                    <li>Responsible for researching, preparing, and delivering lesson topics that included beginning- to intermediate-level <strong>Ruby, Rails, PostgreSQL/SQL, Redis, Sidekiq, Capybara</strong> and technologies like <strong>Heroku, AWS, Render, Postman</strong> in a way that is both engaging and
                    effective to adult-age career-switching students in a fully-remote setting; individually instructed over
                    250+ students</li>
                    <li>Taught and facilitated at least 50% of weekly curriculum</li>
                    <li>Facilitated evaluations and assessments of projects and individual student progress in both group (20+) and solo environments</li>
                    <li>Collected and analyzed student achievement data in order to implement effective changes to existing
                    curriculum</li>
                    <li>Contributed to the development of internal software tools</li>
                    <li>Continually advanced and upgraded curriculum to further drive evidence-based results in student learning and achievement</li>

                </ul>
            </div>

            <blockquote>
                Currently exploring multiple <%= link_to "projects", projects_path %> that I've wanted to do for a long time. Hit me up if you want to work together!
            </blockquote>

        </div>
    </div>
</div>

<div class="about_box">
    <div class="box_content">
        <h3>Prior Work & Fun Stuff</h3>
        <div class="job">
            <h5>Dev Team Lead / Full-Stack Software Engineer</h5>
            <p>Upon graduation from <strong>The Software Guild</strong> in 2016, I helped to create, maintain, and support new & existing client applications & websites, both application code and hosting tech, using various web technologies including <strong>PHP, MySQL, JavaScript, jQuery, React, Node, WordPress, Drupal, </strong>leveraging <strong>Microsoft Azure, AWS, Digital Ocean,</strong> among others. Worked together with a new client to achieve <strong>over 25,000 account signups within their first year</strong> on an entirely new platform that I was instrumental in designing, developing, and launching.
            </p>
        </div>

         <div class="job">
            <h5>K-12 Band/Choir Director</h5>
            <p>Ohio K-12 licensure. After graduating from <strong>Ashland University</strong> in 2011, I taught students in public and private schools in eastern & northeastern Ohio from 2011-2016, as both a permanent teacher and substitute/non-staff instructor. My specialties included brass (trumpet, trombone, horn, baritone, tuba) as well as accompaniment for OMEA solo & ensemble competitions.</p>
        </div>

        <div class="job">
            <h5>Pianist / Organist / Trombonist / Vocalist</h5>
            <p>Performed at all types of church services from 2007-2019 including weekly services, campus ministries, weddings, funerals, you name it. Open for performing, get in touch.</p>
            <p>Currently performing with friends in <a href="https://www.facebook.com/capcityfunk/" target="_blank">Cap City Funk</a> out of Columbus, Ohio.</p>
        </div>
    </div>
</div>

<!-- <div class="about_box">
    <div class="box_content center">
        <h2>Wanna chat?</h2>
        <p><%= link_to "Get in touch!", "#" %></p>
    </div>
</div> -->
