// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "responsive";
@import "posts";


#mainBody {
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    min-height: 100vh;
    padding-top: 1px;
    padding-bottom: 30px;
}

.pageTitle {
    color: rgba(255,255,255,0.5);
    margin-top: 10px;
    margin-bottom: 15px;
}

//on an inner page
// body.innerPage {
//     .about_box {
//         padding: 30px;
//     }
// }

.about_box {
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 12px;
    position: relative;
    background: #fff;
    box-shadow: 0px 20px 80px 0px rgba(153,153,153,0.3);

    .box_content {
        color: #222;
        vertical-align: middle;
        align-self: center;
        text-align: left;
        padding: 20px;

        .media {

            img {
                width: 100%;
                height: 100%;
                vertical-align: middle;
                border-style: none;
                border-radius: 12px;
                // box-shadow: 0 10px 10px 0 rgb(153 153 153);
            }
            .media-body {
                margin-top: 30px;

                .personal_text {

                        h6 {
                            font-size: 14px;
                            font-family: "Roboto", sans-serif;
                            text-transform: uppercase;
                            letter-spacing: 2.1px;
                            font-weight: normal;
                            margin-bottom: 12px;
                            color: #222;
                        }

                        h2 {
                            font-size: 48px;
                            text-transform: uppercase;
                            margin-bottom: 15px;
                            color: #222222;
                            font-weight: bold;
                        }

                        h4 {
                            font-size: 16px;
                            font-weight: 500;
                            text-transform: uppercase;
                            margin-bottom: 20px;
                            color: #222222;
                        }

                        p {
                            max-width: 540px;
                            color: #777777;
                            margin-bottom: 40px;
                        }
                    }
            }


        }
    }
}

.projects_wrapper {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
    .card-img-top {
        max-height: 250px;
    }
}


//Lists

ul.list {
    li {
        list-style: none;
        i {
            padding-right: 5px;
        }
    }
}

//Footer
#footer {
    color: rgba(255,255,255,0.5);
    .footer_outer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer_inner {
        .footer_nav {
            p {
                a {
                    color: rgba(255,255,255,0.5);
                }
            }
        }
    }
}