.pageTitle {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    margin-bottom: 15px;
}

h1, h2 ,h3, h4, h5, h6 {
    small {
        color: gray;
        font-weight: 200;
    }
}

blockquote {
    background-color: lightgray;
    border-left: 2px solid gray;
    font-style: italic;
    padding: 20px 15px;
}